@charset "utf-8";

// Set unifr colors
$unifr : #00134a;     // couleur secondaire de l'uni
$orange: #d06516;     // couleur d'accentualisation
$yellow: #f5bd26;     // Faculté de théologie
$red: #b81f42;        // Faculté de droit
$blue: #3984b8;       // Faculté des lettres et des sciences humaines
$mauve: #a4246a;      // Faculté des sciences économiques et sociales
$green: #398e55;      // Faculté des sciences et de médecine
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: darken($primary, 10%);

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$modal-content-width: 1000px;

@import "../../node_modules/bulma/bulma.sass";